.cat {
    height: 297px;
    width: 507px;
    position: fixed;
    bottom: 10%; /* Ajusta la altura desde la parte inferior */
    left: -300px; /* Inicia fuera de la pantalla */
    animation: walk 5s linear infinite;
}

@keyframes walk {
  0% {
    left: -300px;
    transform: scaleX(1);
  }
  49% {
    left: 100vw;
    transform: scaleX(1);
  }
  50% {
    left: 100vw;
    transform: scaleX(-1);
  }
  99% {
    left: -300px;
    transform: scaleX(-1);
  }
  100% {
    left: -300px;
    transform: scaleX(1);
  }
}
